body {
    background-color: #000000;
}

.cont {
    width: 100%;
    height: 100%;
    background-color: #000000;
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.window {
    width: 50rem;
    height: 30rem;
    border: solid 1px crimson;
    margin: auto;
    margin-top: 7%;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.label1 {
    position: absolute;
    margin-bottom: 63%;
    display:flex;
    flex-direction: column;
    transition: 1.5s;
}

.label2 {
    position: absolute;
    margin-bottom: 63%;
    display:flex;
    flex-direction: column;
    transition: 1.5s;
}

.text {
    margin-top: 2%;
}

.label3 {
    position: absolute;
    margin-bottom: 63%;
    display:flex;
    flex-direction: column;    
    transition: 1.5s;
}

.label4 {
    position: absolute;
    margin-bottom: 63%;
     display:flex;
    flex-direction: column;
    transition: 1.5s;
}

.label5 {
    position: absolute;
    margin-bottom: 63%;
    transition: 1.5s;
}

#firstMem {
    margin-right: 2%;
} 

#firstMem:checked + .label1 {
    margin-bottom: 1.8%;
}

#secMem {
    margin-right: 2%;
} 

#secMem:checked + .label2 {
    margin-bottom: 1.8%;}

#thiMem {
    margin-right: 2%;
} 

#thiMem:checked + .label3 {
    margin-bottom: 1.8%;
}

#fourMem {
    margin-right: 2%;
} 

#fourMem:checked + .label4 {
    margin-bottom: 1.8%;
}

#fifMem:checked + .label5 {
    margin-bottom: 1.8%;
}


.firstImg {
    height: 28rem;
}

.secImg {
    height: 28rem;
}

.thirdImg {
    height: 28rem;
}

.fourthImg {
    height: 28rem;
}