body {
    background-color: #000000;
}

a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
}

a:hover {
    text-shadow: #dd00ff 0.063rem 0 0.625rem;
}

a:active {
    text-shadow: #ffdd00 0.063rem 0 0.625rem;
}

.cont {
    width: 100%;
    height: 100%;
    background-color: #000000;
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.window {
    width: 93.6768149882904vw;
    height: 67.41573033707866vh;
    margin: auto;
    margin-top: 7%;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.label1 {
    position: absolute;
    margin-bottom: 103%;
    display: flex;
    flex-direction: column;
    transition: 1.5s;
}

.label2 {
    position: absolute;
    margin-bottom: 103%;
    display: flex;
    flex-direction: column;
    transition: 1.5s;
}

.text {
    margin-top: 2%;
}

.label3 {
    position: absolute;
    margin-bottom: 103%;
    display: flex;
    flex-direction: column;
    transition: 1.5s;
}

.label4 {
    position: absolute;
    margin-bottom: 103%;
    display: flex;
    flex-direction: column;
    transition: 1.5s;
}

.label5 {
    position: absolute;
    margin-bottom: 103%;
    transition: 1.5s;
}

#firstMem {
    margin-right: 2%;
}

#firstMem:checked+.label1 {
    margin-bottom: 2.5%;
}

#secMem {
    margin-right: 2%;
}

#secMem:checked+.label2 {
    margin-bottom: 2.5%;
}

#thiMem {
    margin-right: 2%;
}

#thiMem:checked+.label3 {
    margin-bottom: 2.5%;
}

#fourMem {
    margin-right: 2%;
}

#fourMem:checked+.label4 {
    margin-bottom: 2.5%;
}

#fifMem:checked+.label5 {
    margin-bottom: 2.5%;
}

.firstImg {
    height: 62.92134831460674vh;
}

.secImg {
    height: 62.92134831460674vh;
}

.thirdImg {
    height: 62.92134831460674vh;
}

.fourthImg {
    height: 62.92134831460674vh;
    
}

.fifthImg {
    height: 62.92134831460674vh;
    max-width: 100%;
}

.text {
    animation-duration: 1.5s;
    animation-name: slidein;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}

@keyframes slidein {
    from {
        margin-left: 0%;
    }

    to {
        margin-left: 5%;
    }
}

input {
    cursor: pointer;
    width: 1.875rem;
    height: 1.875rem;
    margin: 3%;
    border-radius: 50%;
    padding: 0.625rem;
    border: solid 0.313rem transparent;
}

input[type=radio]:hover {
    cursor: pointer;
    box-shadow: #dd00ff 0.063rem 0.063rem 0.313rem 0.313rem;
}

input[type=radio]:active {
    cursor: pointer;
    box-shadow: #ffdd00 0.063rem 0.063rem 0.313rem 0.313rem;
}

input[type=radio]:checked {
    cursor: pointer;
    box-shadow: #0066ff 0.063rem 0.063rem 0.313rem 0.313rem;
}